<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	<!-- bean definitions here -->
	<!-- 开启注解扫描 -->
	<context:component-scan base-package="debug.bean"/>
	<!-- 开启自动代理扫描 -->
	<aop:aspectj-autoproxy/>
	<!-- <context:property-placeholder location="classpath:/debug/prop.properties"/> -->
	<bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/debug/applicationContext-${active}.properties</value>
				<value>classpath:/debug/prop.properties</value>
			</list>
		</property>
	</bean>
	<!-- 额外的配置将不会生效 可以通过
<context:property-placeholder location="classpath:/debug/prop.properties,classpath:/debug/other.properties"/>
	 达到配置多个路径,也可以通过
	 <bean >-->
	<!-- 该配置不会生效 -->
	<!-- <context:property-placeholder location="classpath:/debug/other.properties"/> -->
	<bean id="person" class="debug.bean.Person">
		<property name="id" value="1"/>
		<property name="name" value="carl"/>
		<property name="age" value="32"/>
	</bean>
	<bean class="debug.processor.CarPropertyBeanFactoryPostProcessor"/>
	<!-- <bean class="debug.bean.ConfigurationBean"/> -->
</beans>